.container {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
}

.demo {
    display: flex;
    gap: 15px;
    padding: 20px;
    background-color: aqua;

}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: 1px solid aqua;
    border-radius: 5px; /* para el radio del borde*/
    transition: background-color 1s, transform 1s;
}
.content:hover{
    background-color: beige;
    border: 1px solid black;
    transform: translateY(-5px) translateX(5px) rotate(5deg);
}

.fizz:hover{
    background-color: beige;
}

.buzz:hover{
    transform: translateY(-5px) ;
}

.fizzbzz:hover{
    transform: rotate(5deg) translateY(-5px);
}

.controls{
    background-color: #e7e7e7;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    gap: 15px;

}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-group label{
    font-size: 12px;
}

.input-group input{
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.input-group input:focus{
    border-color: #b7fb87;
}

#generate{
    background-color: #b7fb87;
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    transition: background-color 0.5s, transform 0.3s;
}

#generate:hover{
    background-color: #97f653;
    font-weight: bold;
}

#generate:active{
    transform: scale(0.7);
}

.mauri{
    background-color: brown;
}